@{ 
    ViewBag.Title = "About";
}


<!-- our team-->
<section class="section section-lg text-center">
    <div class="shell shell-wide">
        <h3>our team</h3>
        <div class="divider divider-default"></div>
        <div class="range range-50 range-xl-90 range-xs-center offset-custom-2">
            <div class="cell-sm-6 cell-md-3">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="img-circle" src="~/images/Flavia.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="about-me.html">Flávia Rosado Lima</a></h5>
                        <p class="team-classic-job-position">Website developer</p>
                        <ul class="list-inline list-team">
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-5">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="img-circle" src="~/images/Geovana.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="about-me.html">Geovana Aguiar de Carvalho Oliveira</a></h5>
                        <p class="team-classic-job-position">Questions answerer</p>
                        <ul class="list-inline list-team">
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="img-circle" src="~/images/Guilherme.JPG" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="about-me.html">Guilherme Andrade Lacerda</a></h5>
                        <p class="team-classic-job-position">Website developer</p>
                        <ul class="list-inline list-team">
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="img-circle" src="~/images/Havila.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="about-me.html">Hávila Maria Sousa Silva</a></h5>
                        <p class="team-classic-job-position">Questions answerer</p>
                        <ul class="list-inline list-team">
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-5">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="img-circle" src="~/images/Isabela.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="about-me.html">Isabela Martins Lima</a></h5>
                        <p class="team-classic-job-position">Questions answerer</p>
                        <ul class="list-inline list-team">
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="team-classic team-classic-circle">
                    <figure>
                        <img class="img-circle" src="~/images/Wêsley.jpg" alt="" width="300" height="300" />
                    </figure>
                    <div class="team-classic-caption">
                        <h5><a class="team-classic-title" href="about-me.html">Wêsley Pereira Lucena</a></h5>
                        <p class="team-classic-job-position">Presenter</p>
                        <ul class="list-inline list-team">
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                            <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#pagina-ativa li").removeClass("active");
    $("#pagina-ativa li").eq(1).addClass("active");
</script>